*.elc
*~
.DS_Store
.achievements
.cache
.cask
.emacs.desktop*
.flycheck_*
.org-id-locations
/themes
/var/pcache
custom.el
eln-cache
elpa
network-security.data
games
org-roam.db
/persp-confs
projectile-bookmarks.eld
projects
rake.cache
savefile/
tree-sitter/
secrets.el
session*
tramp
/transient
url
.dap-breakpoints
.lsp-session-v1
forge-database*
