*.elc
*~
.DS_Store
.achievements
.cask
.emacs.desktop*
.flycheck_*
.org-id-locations
/themes
/var/pcache
custom.el
elpa
games
/persp-confs
projectile-bookmarks.eld
projects
rake.cache
savefile/
secrets.el
session*
tramp
/transient
url
.dap-breakpoints
.lsp-session-v1
forge-database.sqlite
